#page-wrap {
  max-width: 1000px;
  min-width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}
#page {
  background: #fff;
  padding: 5px;
  position: relative;
  font-size: 0;
  z-index: 5;
}
.sidebar,
.sidebar .wrapper,
.main-content {
  display: inline-block;
}
.sidebar {
  width: 33.33333333333333%;
}
.sidebar img {
  width: 100%;
}
.main-content {
  vertical-align: top;
  width: 66.66666666666666%;
}
.main-content.no-sidebar {
  width: 100%;
}
@media screen and (max-width:1020px) {
  #page-wrap {
    margin-left: 10px;
    margin-right: 10px;
  }
}
@media screen and (max-width: 700px) {
  #page-wrap {
    margin-left: 0;
    margin-right: 0;
  }
  .sidebar .wrapper {
    width: 50%;
  }
  .main-content,
  .sidebar {
    width: 100%;
  }
}
html {
  font-size: 62.5%;
}
h1,
h2,
h3,
h5,
h5,
h6 {
  font-weight: bold;
}
h1 {
  font-size: 28px;
  font-size: 2.8000000000000003rem;
  line-height: 37.33333333333333px;
  line-height: 3.733333333333333rem;
}
h2 {
  font-size: 21px;
  font-size: 2.1rem;
  line-height: 28px;
  line-height: 2.8000000000000003rem;
  color: #1f1f1f;
  margin-bottom: 10px;
}
h3 {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 24px;
  line-height: 2.4000000000000004rem;
}
h4 {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 21.333333333333332px;
  line-height: 2.1333333333333333rem;
}
p,
.wp-caption,
.wp-caption-dd,
.post-content,
.tweet_list,
.box {
  font-family: "Calibri", Arial, Verdana, sans-serif;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 20px;
  line-height: 2rem;
}
p {
  text-align: justify;
  -webkit-hyphens: auto;
  -webkit-hyphenate-limit-after: 1;
  -webkit-hyphenate-limit-before: 3;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}
.post-content,
.post-content p {
  line-height: 18px;
}
a {
  color: #ff731c;
  text-decoration: none;
}
p a:hover,
.more-posts a:hover {
  background-color: #ff731c;
  color: #fff;
}
.aligncenter {
  display: block;
  margin: 0 auto;
}
.alignleft {
  float: left;
}
.alignright {
  float: right;
}
hr {
  margin: 10px 0;
}
blockquote {
  margin: 1em 3em;
  padding: 0.5em 1em;
  border-left: 5px solid #ff731c;
  background-color: #f6ebc1;
}
.wp-caption {
  border: 1px solid #d2d2d2;
  border-bottom: 1px solid #b8b8b8;
  border-right: 1px solid #b8b8b8;
  text-align: center;
  background: #efefef;
  padding: 10px;
  margin: 10px;
  padding-bottom: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
ul a,
a.logo-click {
  outline: none;
}
div {
  position: relative;
/* This will save you having to declare each div's position as 'relative' and allows you to absolutely position elements inside them */
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background: #1f1f1f;
}
.logo-click {
  margin: 10px;
  background: url("../images/CORE-logo.svg") no-repeat;
  width: 275px;
  height: 80px;
  position: absolute;
}
#searchform {
  float: right;
  padding-top: 35px;
  padding-right: 10px;
}
#searchform input {
  display: inline;
}
#s {
  color: #e2e2e2;
  border: 1px solid #73523b;
  background: #552100;
  font-size: 13px;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
  width: 190px;
  height: 28px;
  padding: 0;
  margin: 0;
  padding-right: 30px;
}
#s:hover,
#s:active {
  background: #8e3600;
}
#searchsubmit {
  margin: 0;
  margin-left: -30px;
  width: 30px;
  height: 30px;
  padding: 0;
  z-index: 9999;
  background: url("../images/search.png") no-repeat;
  border: none;
}
.header {
  background: #ff731c url("../images/header.jpg") top left no-repeat;
  background: #ff731c url("../images/header.jpg") top left no-repeat radial-gradient(50% 0 45deg, circle closest-corner, rgba(255,255,255,0.5) 0%, transparent 100%) no-repeat;
  width: 100%;
  height: 375px;
  z-index: 500;
}
.header-show,
.header-short-pic {
  width: 100%;
  position: absolute;
  bottom: 0;
}
.header-show object,
.header-short-pic object {
  width: 100%;
}
.header-short {
  background: #ff731c url("../images/header.jpg") top left no-repeat;
  height: 250px;
}
.header-short-pic {
  z-index: 600;
  height: 150px;
  width: 100%;
  background: url("../images/drivers-mentors-small.jpg") bottom no-repeat;
}
.current-page-ancestor,
.current-menu-item {
  background: rgba(199,199,199,0.75);
}
#menu-main {
  position: absolute;
  bottom: 0;
  background: rgba(31,31,31,0.75);
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-position: outside;
  font-size: 0;
  font-weight: bold;
  z-index: 2000;
  line-height: 40px;
  width: 100%;
  -webkit-box-sizing(): border-box;
  -moz-box-sizing(): border-box;
  -o-box-sizing(): border-box;
  -ms-box-sizing(): border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-top: solid #ff731c 1px;
  border-left: solid #ff731c 1px;
  padding-right: 1px;
  padding-bottom: 1px;
}
@media screen and (max-width: 950px) {
  #menu-main > li {
    width: 16.666666666666668%;
  }
  #menu-main a {
    -webkit-box-sizing(): border-box;
    -moz-box-sizing(): border-box;
    -o-box-sizing(): border-box;
    -ms-box-sizing(): border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-right: -24px;
    width: 100%;
  }
}
@media screen and (max-width: 800px) {
  #menu-main > li {
    width: 20%;
  }
}
@media screen and (max-width: 700px) {
  #menu-main > li {
    width: 25%;
  }
}
@media screen and (max-width: 600px) {
  #menu-main > li {
    width: 33.333333333333336%;
  }
}
@media screen and (max-width: 400px) {
  #menu-main > li {
    width: 50%;
  }
}
@media screen and (max-width: 300px) {
  #menu-main > li {
    width: 100%;
  }
}
#menu-main div,
#menu-main label {
  vertical-align: top;
}
#menu-main a,
#menu-main label {
  display: inline-block;
  color: #fff;
  padding: 0 6px;
}
#menu-main a {
  height: 100%;
  font-size: 14px;
}
#menu-main label,
#menu-main div {
  position: relative;
  z-index: 100;
  cursor: pointer;
  font-size: 12px;
}
#menu-main div {
  display: none;
}
#menu-main li {
  cursor: default;
  display: inline-block;
  border-right: solid #ff731c 1px;
  border-bottom: solid #ff731c 1px;
  margin-right: -1px;
  margin-bottom: -1px;
}
#menu-main li.no-children label,
#menu-main li.no-children div {
  display: none;
}
#menu-main li:hover {
  background: #ff731c;
}
#menu-main li:hover > label,
#menu-main li:hover > div {
  background: #e25700;
}
#menu-main [type=radio] {
  display: none;
}
#menu-main [type=radio]:checked ~ label {
  display: none;
}
#menu-main [type=radio]:checked ~ label ~ div {
  background: #e25700;
  display: inline-block;
}
#menu-main [type=radio]:checked ~ label ~ ul {
  display: block;
}
#menu-main ul {
  z-index: 101;
  background: #fff;
  position: absolute;
  display: none;
  top: top_level_height;
  min-width: 200px;
  -webkit-transition(): height 600ms ease-in-out, width 600ms ease-in-out;
  -moz-transition(): height 600ms ease-in-out, width 600ms ease-in-out;
  -o-transition(): height 600ms ease-in-out, width 600ms ease-in-out;
  -ms-transition(): height 600ms ease-in-out, width 600ms ease-in-out;
  -webkit-transition: height 600ms ease-in-out, width 600ms ease-in-out;
  -moz-transition: height 600ms ease-in-out, width 600ms ease-in-out;
  -o-transition: height 600ms ease-in-out, width 600ms ease-in-out;
  -ms-transition: height 600ms ease-in-out, width 600ms ease-in-out;
  transition: height 600ms ease-in-out, width 600ms ease-in-out;
}
#menu-main ul a,
#menu-main ul label {
  color: #333;
}
#menu-main ul div,
#menu-main ul label {
  z-index: 102;
  position: absolute;
  right: 0;
}
#menu-main ul li {
  border: none;
  display: block;
  padding-right: 24px;
  border-bottom: 1px solid #c8c8c8;
}
#menu-main ul li.no-children {
  padding-right: 0;
}
#menu-main ul li:first-child {
  border-top: 1px solid #c8c8c8;
}
#menu-main ul li:hover {
  background: #ffb98e;
}
#menu-main ul li:hover > label,
#menu-main ul li:hover > div label {
  background: #ff9d60;
}
#menu-main ul [type=radio]:checked ~ label ~ div label {
  background: #ff9d60;
}
#menu-main ul ul {
  top: 0;
  left: 100%;
}
.banner-bar {
  height: 42px;
  background: #1f1f1f;
  margin: 5px;
}
@media screen and (max-width: 600px) {
  .banner-bar {
    display: none;
  }
}
.banner-bar a {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  padding-top: 14px;
  display: inline-block;
}
.banner-bar a:hover {
  color: #ff731c;
}
.banner-bar a.banner-title,
.banner-bar a.learnmore {
  padding: 0 20px;
  position: absolute;
  line-height: 42px;
  height: 100%;
  vertical-align: middle;
}
.banner-bar a.banner-title {
  left: 0;
}
.banner-bar a.learnmore {
  background: #ff731c;
  color: #fff;
  right: 0;
  top: 0;
}
.banner-bar a.learnmore:hover {
  background: #ff883e;
}
.about-intro {
  width: 860px;
}
.about-side {
  font-size: 85%;
  line-height: 18px;
}
.clear {
  clear: both;
}
.break {
  height: 1px;
}
a.button {
  color: #fff;
  background: #1f1f1f;
  font-weight: bold;
  font-size: 16px;
  padding: 5px 10px 4px 10px;
  text-decoration: none;
  margin: 10px 0;
  display: inline-block;
}
a.button:hover {
  background: #fe7420;
}
a.blue {
  background: #0066b3;
}
#breadcrumbs {
  color: #dadada;
  margin-left: 10px;
  font-size: 14px;
  line-height: 1.2em;
  position: absolute;
  left: 0;
}
#breadcrumbs a {
  margin-left: 1px;
  font-size: 18px;
}
#breadcrumbs a:hover {
  background: none;
}
.text {
  margin: 10px;
}
.text p {
  margin-bottom: 10px;
}
.titleblock {
  background: #1f1f1f;
  position: relative;
  margin: 5px;
  margin-bottom: -5px;
  color: #fff;
}
.titleblock h3,
.titleblock a {
  padding: 10px;
}
.titleblock a {
  text-decoration: none;
  padding: 0;
}
.titleblock a:hover {
  text-decoration: none;
  color: #ff731c;
}
.postpagetitle {
  display: inline;
  position: absolute;
  height: 24px;
}
.bylinepage {
  float: right;
  text-decoration: none;
  vertical-align: text-bottom;
  color: #fff;
  margin-top: 12px;
  font-size: 12px;
  margin-right: 5px;
}
.post-title {
  background: #f0f0f0;
  vertical-align: middle;
  position: relative;
}
.archivetitle {
  text-align: center;
}
.archivepage-spacer {
  height: 20px;
}
.byline {
  position: absolute;
  right: 6px;
  text-align: right;
}
.post-content {
  padding: 10px;
}
.post-content ul,
.post-content li {
  list-style: square;
  margin-left: 10px;
}
.post-content li {
  list-style: inherit;
}
.more-posts {
  text-align: center;
}
.arclist {
  display: block;
}
.aligncenter {
  margin-left: auto;
  margin-right: auto;
}
input,
textarea {
  background: #e6e6e6;
  border: 1px solid #a1a1a1;
  font-size: 14px;
  color: #1f1f1f;
  padding: 5px;
  margin: 5px;
  font-family: "Calibri", Arial;
}
input:hover,
textarea:hover {
  background: #f0f0f0;
  border: 1px solid #7f7f7f;
}
input#submit {
  cursor: pointer;
}
input#submit:hover {
  background: #1f1f1f;
  color: #fff;
}
label {
  font-size: 12px;
  color: #595959;
}
.box,
.alert {
  background: #f0f0f0;
  border: 1px solid #d3d3d3;
  margin: 5px;
  padding: 10px;
}
.alert {
  min-height: 45px;
}
.alert h4 {
  font-size: 18px;
  margin: 3px 0 3px 40px;
}
.alert p {
  margin: 10px;
  font-size: 15px;
  color: #383625;
}
.yellow {
  background: #ffff9a url("../images/caution.png") no-repeat 10px 10px;
  border: 1px solid #c3c376;
}
.yellow h4 {
  border-bottom: 1px solid #c3c376;
}
.blue {
  background: #bacddf url("../images/message.png") no-repeat 10px 10px;
  border: 1px solid #82b2df;
}
.red {
  background: #ecb4ae url("../images/error.png") no-repeat 10px 10px;
  border: 1px solid #c9867f;
}
.green {
  background: #b1e0a3 url("../images/success.png") no-repeat 10px 10px;
  border: 1px solid #7abd5e;
}
a.permlink {
  font-size: 11px;
  font-style: italic;
  color: #a6a65d;
  float: right;
}
.badge {
  float: right;
  margin: 5px;
}
.footer {
  background: #ff731c;
  font-size: 12px;
  padding: 5px;
  text-align: left;
  margin: -5px;
  margin-top: 5px;
}
.footer a {
  color: #1f1f1f;
  text-decoration: underline;
}
.footer span {
  float: right;
}
.subnav ul li a {
  display: block;
  width: 100%;
  border-bottom: 1px dotted #666;
  line-height: 28px;
  font-size: 0.8em;
  font-weight: bold;
  color: #1f1f1f;
}
.subnav ul li a:hover {
  color: #1f1f1f;
  background: #b7cfdb;
}
.subnav ul li ul {
  margin-left: 20px;
  border-left: solid 2px #e4e4e4;
  padding-left: 5px;
}
.subnav ul li ul li a {
  line-height: 24px;
  font-size: 0.7em;
}
#twitter_box h2 img {
  width: 20px;
}
#twitter_box li {
  border-top: dotted #1f1f1f 1px;
  margin-top: 5px;
  padding-top: 5px;
}
#twitter_box li.tweet_first {
  border-top: none;
  margin-top: 0;
  padding-top: 0;
}
