@import 'library.styl'

//Layout

#page-wrap
	//center the page if the screen is really big
	max-width max_width
	min-width min_width
	margin-left auto
	margin-right auto
	margin-bottom 40px

#page
	background white
	padding box_margin
	position relative
	font-size 0 // remove space between inline-block elements
	z-index 5

.sidebar, .sidebar .wrapper, .main-content
	display inline-block

.sidebar
	width 100% * (1/3)

	img
		//FIRST logo
		width 100%

.main-content
	vertical-align top
	width 100% * (2/3)

.main-content.no-sidebar
	width 100%

media_query = 'screen and (max-width:' + max_width + ')'
@media media_query
	#page-wrap
		// when screen is too small, get rid of those margins readability is
		// more important than the fancy background pattern (for most people)
		margin-left 0
		margin-right 0

	.sidebar .wrapper
		width 50%

	.main-content, .sidebar
		width 100%

@media screen and (max-width: 400px)
	.sidebar .wrapper
		//make sidebars full width on small screens (they're wrapped to the
		//bottom now anyway)
		width 100%

//TODO: remove CORE text on smaller screen sizes (only keep logo)
//TODO: change nav bar to dropdown menu on mobile devices?


.sidebar p
	//atm, hyphenation isn't well supported... using hyphenator.js
	text-align justify
	-webkit-hyphens auto
	-webkit-hyphenate-limit-after 1
	-webkit-hyphenate-limit-before 3
	-moz-hyphens auto
	hyphens:auto

@media screen and (max-width: 600px)
		p
			text-align justify


.post-content, .post-content p
	line-height: 18px

a
	color: orange
	text-decoration: none

p, .more-posts
	a:hover
		background-color: orange
		color: white


//Styles

.aligncenter
	display block
	margin 0 auto

.alignleft
	float left

.alignright
	float right

hr
	margin 10px 0

blockquote
	margin 1em 3em
	padding .5em 1em
	border-left 5px solid orange
	background-color #f6ebc1

.wp-caption
	border 1px solid #d2d2d2
	border-bottom 1px solid #b8b8b8
	border-right 1px solid #b8b8b8
	text-align center
	background #efefef
	padding 10px
	margin 10px
	padding-bottom 0
	-moz-border-radius 5px
	-webkit-border-radius 5px

ul a, a.logo-click
	outline none

div
	position relative
	/* This will save you having to declare each div's position as 'relative' and allows you to absolutely position elements inside them */
	//this should be removed

body
	font-family Arial, Helvetica, sans-serif
	background black

menu_height = 40px

#nav-wrapper
	display none

#nav-wrapper + label
	display inline
	width 100%
	font-size 14px
	color white

@media screen and (max-width: 700px)
	
	#nav-wrapper:checked + label
		height menu_height
		overflow hidden
		opacity 1
		display block
		position relative

		&:after
			position absolute
			display block
			text-align center
			line-height menu_height
			vertical-align center
			top 0
			z-index 999999
			width 100%
			height menu_height
			content "▼ Click to view Navigation ▼"
			background-color #57341E
			border 1px solid #73523B

.menu
	menu_font_size = 14px
	arrow_width = 26px

	position relative
	background rgb(31, 31, 31) // fallback
	background rgba(31, 31, 31, 0.75)
	margin 0
	padding 0
	list-style-type none
	list-style-position outside
	font-size 0 // to remove space between <label> and <a>
	font-weight bold
	z-index 2000
	line-height menu_height - 4px
	width 100%

	//because of the borders around the nav bar elements
	vendor(box-sizing, border-box)
	border-top solid brown 1px
	border-left solid brown 1px
	//padding-right 1px
	//padding-bottom 1px

	//switch to a grid-style menu on small devices
	@media screen and (max-width: 950px)
		> li
			width (100% / 6)

	@media screen and (max-width: 800px)
		> li
			width (100% / 5)

	@media screen and (max-width: 700px)
		> li
			width (100% / 4)

	@media screen and (max-width: 600px)
		> li
			width (100% / 3)

	@media screen and (max-width: 400px)
		> li
			width (100% / 2)

	@media screen and (max-width: 300px)
		> li
			width 100%

	div, label
		vertical-align top

	a, label
		display inline-block
		color white
		padding 0 ((arrow_width - 12px) / 2)

	a
		//display block
		vendor(box-sizing, border-box)
		margin-right -(arrow_width)
		padding-right arrow_width + ((arrow_width - 12px) / 2)
		min-width 100%
		font-size menu_font_size
		whitespace no-wrap

	label, div
		//position relative
		z-index 100
		cursor pointer
		font-size menu_font_size - 2px
		line-height menu_height

	div
		display none

	li
		cursor default
		display inline-block

		//almost like border collapsing... but more hackish
		border-right solid brown 1px
		border-bottom solid brown 1px
		margin-right -1px
		margin-bottom -1px

		&.no-children
			// class set w/ js (show arrows by default)
			// TODO: make the arrows get removed by the PHP function that makes the menu
			label, div
				display none	

		&:hover
			background orange

			> label, > div
				background darken(orange, 20%)

	[type=radio]
		display none

		&:checked ~ label
			display none

			~ div
				background darken(orange, 20%) // keep it obvious which menu is open
				display inline-block

			~ ul
				display block

	ul // submenu
		z-index 101
		background white
		position absolute
		display none

		a, label
			color #333

		div, label
			z-index 102
			//position absolute
			//right 0

		li
			border none
			display block
			position relative
			border-bottom 1px solid #c8c8c8
			whitespace nowrap

			&:first-child
				border-top 1px solid #c8c8c8

			&:hover
				background lighten(orange, 50%)
				
				> label, > div label
					background lighten(orange, 30%)

		[type=radio]:checked ~ label ~ div label
			background lighten(orange, 30%) // keep it obvious which menu is open

		ul
			top 0
			left 100%
