@import 'nib/vendor'
vendor-prefixes = webkit moz o ms official

@import url(http://fonts.googleapis.com/css?family=Orbitron:700);

//Resources

right_arrow_img = url(../images/menu-right-arrow.png)
arrow_img = url(../images/menu-arrow.png)
caution_img = url(../images/caution.png)
message_img = url(../images/message.png)
error_img = url(../images/error.png)
success_img = url(../images/success.png)
search_img =  url(../images/search.png)
core_logo_img = url(../images/CORE-logo.svg)

//Colors

orange = #ff731c
black = #1f1f1f

//Dimensions

box_margin = 5px // 1/2 of space between the boxes that hold articles / other content
logo_height = 100px // height of logo at top of page above slice_box (logo_height > searchform_height + box_margin*4)
searchform_height = 30px
slice_box_height = 275px
header_pic_height = 150px
max_width = 1000px
min_width = 200px // sorry, but any smaller is crazy

//Layout

#page-wrap
	//center the page if the screen is really big
	max-width max_width
	min-width min_width
	margin-left auto
	margin-right auto
	margin-bottom 40px

#page
	background white
	padding box_margin
	position relative
	font-size 0 // remove space between inline-block elements
	z-index 5

.sidebar, .sidebar .wrapper, .main-content
	display inline-block

.sidebar
	width 100% * (1/3)

	img
		//FIRST logo
		width 100%

.main-content
	vertical-align top
	width 100% * (2/3)

.main-content.no-sidebar
	width 100%

media_query = 'screen and (max-width:' + (max_width + box_margin*4) + ')'
@media media_query
	#page-wrap
		// when screen is smaller, keep a nice margin on the side since it can't be centered anymore
		margin-left box_margin*2
		margin-right box_margin*2

@media screen and (max-width: 700px)
	#page-wrap
		// when screen is too small, get rid of those margins readability is
		// more important than the fancy background pattern (for most people)
		margin-left 0
		margin-right 0

	.sidebar .wrapper
		width 50%

	.main-content, .sidebar
		width 100%

//TODO: remove CORE text on smaller screen sizes (only keep logo)
//TODO: change nav bar to dropdown menu on mobile devices?

//Typography

rem(property, pixels)
	// first in pixels for bad browsers
	add-property(property, (pixels * 1px))
	add-property(property, (pixels * 0.1rem))

html
	font-size 62.5%

h1, h2, h3, h5, h5, h6
	font-weight: bold

h1
	font_size = 28
	rem(font-size, font_size)
	rem(line-height, font_size*(4/3))

h2
	font_size = 21
	rem(font-size, font_size)
	rem(line-height, font_size*(4/3))
	color black
	margin-bottom: 10px

h3
	font_size = 18
	rem(font-size, font_size)
	rem(line-height, font_size*(4/3))

h4
	font_size = 16
	rem(font-size, font_size)
	rem(line-height, font_size*(4/3))

p, .wp-caption, .wp-caption-dd, .post-content, .tweet_list, .box
	font-family: "Calibri", Arial, Verdana, sans-serif
	font_size = 15
	rem(font-size, font_size)
	rem(line-height, font_size*(4/3))

p
	//atm, hyphenation isn't well supported... maybe use hyphenator.js?
	text-align justify
	-webkit-hyphens auto
	-webkit-hyphenate-limit-after 1
	-webkit-hyphenate-limit-before 3
	-moz-hyphens auto
	hyphens:auto

.post-content, .post-content p
	line-height: 18px

a
	color: orange
	text-decoration: none

p, .more-posts
	a:hover
		background-color: orange
		color: white

//Styles

.aligncenter
	display block
	margin 0 auto

.alignleft
	float left

.alignright
	float right

hr
	margin 10px 0

blockquote
	margin 1em 3em
	padding .5em 1em
	border-left 5px solid orange
	background-color #f6ebc1

.wp-caption
	border 1px solid #d2d2d2
	border-bottom 1px solid #b8b8b8
	border-right 1px solid #b8b8b8
	text-align center
	background #efefef
	padding 10px
	margin 10px
	padding-bottom 0
	-moz-border-radius 5px
	-webkit-border-radius 5px

ul a, a.logo-click
	outline none

div
	position relative
	/* This will save you having to declare each div's position as 'relative' and allows you to absolutely position elements inside them */
	//this should be removed

body
	font-family Arial, Helvetica, sans-serif
	background black


#logo
	display inline-block
	margin 10px
	padding-top 15px
	height logo_height - 20px - 15px
	background core_logo_img no-repeat
	padding-left logo_height - 15px
	color #000
	font-family 'Orbitron', sans-serif
	font-size 28px
	text-align justify

#searchform
	position static
	display inline-block
	float right
	padding-top ((logo_height - searchform_height) / 2)
	padding-right box_margin*2
	padding-bottom box_margin*2

#s
	border_thickness = 1px
	display inline-block
	color #e2e2e2
	border border_thickness solid #73523b
	background search_img, #552100
	background-repeat no-repeat
	background-position center right, top left
	font-size 13px
	font-family "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif
	width 190px
	height searchform_height - border_thickness * 2
	padding 0
	margin 0
	padding-right searchform_height

	&:hover, &:active
		background search_img, darken(orange, 50%)
		background-repeat no-repeat
		background-position center right, top left

#searchsubmit
	opacity 0
	position relative
	margin 0
	margin-left -(searchform_height)
	width searchform_height
	height searchform_height
	padding 0
	z-index 9999

.header-short, .header
	background orange
	background orange radial-gradient(50% 0 45deg, circle closest-corner, rgba(255,255,255,.5) 0%, transparent 100%) no-repeat

.header
	width 100%
	z-index 500

.header-show, .header-short-pic
	width 100%

.header-short-pic
	z-index 600
	height header_pic_height
	width 100%
	background url(../images/drivers-mentors-small.jpg) bottom no-repeat

.current-page-ancestor, .current-menu-item
	background rgba(199, 199, 199, 0.75)

#nav-wrapper
	display inline-block
	width 100%

#menu-main
	menu_height = 40px
	menu_font_size = 14px
	arrow_width = 26px

	position relative
	background rgba(31, 31, 31, 0.75)
	margin 0
	padding 0
	list-style-type none
	list-style-position outside
	font-size 0 // to remove space between <label> and <a>
	font-weight bold
	z-index 2000
	line-height menu_height
	width 100%

	//because of the borders around the nav bar elements
	vendor(box-sizing, border-box)
	border-top solid orange 1px
	border-left solid orange 1px
	padding-right 1px
	padding-bottom 1px

	//switch to a grid-style menu on small devices
	@media screen and (max-width: 950px)
		> li
			width (100% / 6)

		a
			vendor(box-sizing, border-box)
			margin-right -(arrow_width)
			width 100%

	@media screen and (max-width: 800px)
		> li
			width (100% / 5)

	@media screen and (max-width: 700px)
		> li
			width (100% / 4)

	@media screen and (max-width: 600px)
		> li
			width (100% / 3)

	@media screen and (max-width: 400px)
		> li
			width (100% / 2)

	@media screen and (max-width: 300px)
		> li
			width (100%)

	div, label
		vertical-align top

	a, label
		display inline-block
		color white
		padding 0 ((arrow_width - 12px) / 2)

	a
		height 100%
		font-size menu_font_size

	label, div
		position relative
		z-index 100
		cursor pointer
		font-size menu_font_size - 2px

	div
		display none

	li
		cursor default
		display inline-block

		//this prevents firefox from being weird and making the <a>'s in the
		//nav menu be 100% of the screen height
		position relative
		height menu_height

		//almost like border collapsing... but more hackish
		border-right solid orange 1px
		border-bottom solid orange 1px
		margin-right -1px
		margin-bottom -1px

		&.no-children
			// class set w/ js (show arrows by default)
			// TODO: make the arrows get removed by the PHP function that makes the menu
			label, div
				display none	

		&:hover
			background orange

			> label, > div
				background darken(orange, 20%)

	[type=radio]
		display none

		&:checked ~ label
			display none

			~ div
				background darken(orange, 20%) // keep it obvious which menu is open
				display inline-block

			~ ul
				display block

	ul // submenu
		z-index 101
		background white
		position absolute
		display none
		top top_level_height
		min-width 200px
		vendor(transition, unquote('height 600ms ease-in-out, width 600ms ease-in-out'))

		a, label
			color #333

		div, label
			z-index 102
			position absolute
			right 0

		li
			border none
			display block

			padding-right arrow_width

			&.no-children
				// class set w/ js
				padding-right 0		

			border-bottom 1px solid #c8c8c8

			&:first-child
				border-top 1px solid #c8c8c8

			&:hover
				background lighten(orange, 50%)
				
				> label, > div label
					background lighten(orange, 30%)

		[type=radio]:checked ~ label ~ div label
			background lighten(orange, 30%) // keep it obvious which menu is open

		ul
			top 0
			left 100%


.banner-bar
	height 42px
	background black
	margin box_margin

	@media screen and (max-width: 600px)
		display none

	a
		color white
		font-size 14px
		font-weight bold
		text-decoration none
		padding-top 14px
		display inline-block

		&:hover
			color orange

		&.banner-title, &.learnmore
			padding 0 20px
			position absolute
			line-height 42px
			height 100%
			vertical-align middle

		&.banner-title
			left 0

		&.learnmore
			background orange
			color white
			right 0
			top 0

			&:hover
				background lighten(orange, 15%)


.about-intro
	width 860px

.about-side
	font-size 85%
	line-height 18px

.clear
	clear both

.break
	height 1px

a.button
	color white
	background black
	font-weight bold
	font-size 16px
	padding 5px 10px 4px 10px
	text-decoration none
	margin 10px 0
	display inline-block

	&:hover
		background #fe7420

a.blue
	background #0066b3

#breadcrumbs
	color #dadada
	margin-left 10px
	font-size 14px
	line-height 1.2em
	position absolute
	left 0

	a
		margin-left 1px
		font-size 18px

		&:hover
			background none

.text
	margin 10px

	p
		margin-bottom 10px

.titleblock
	background black
	position relative
	margin box_margin
	margin-bottom -(box_margin)
	color white

	h3, h4, a
		padding 10px

	a
		color white
		text-decoration none
		padding 0

		&:hover
			text-decoration none
			color orange

.postpagetitle
	display inline
	position absolute
	height 24px

.bylinepage
	float right
	text-decoration none
	vertical-align text-bottom
	color white
	margin-top 12px
	font-size 12px
	margin-right 5px

.post-title
	background #f0f0f0
	vertical-align middle
	position relative

	a
		margin-right 28px
		display inline-block
		
	.byline
		display inline-block
		right 6px
		text-align right

.post-content
	padding box_margin*2

	ul, li
		list-style square
		margin-left 10px

	li
		list-style inherit

.more-posts
	text-align center

.arclist
	display block

.aligncenter
	margin-left auto
	margin-right auto

input, textarea
	background #e6e6e6
	border 1px solid #a1a1a1// <- Good Stake Sauce times 3
	font-size 14px
	color black
	padding 5px
	margin 5px
	font-family "Calibri", Arial

input:hover, textarea:hover
	background #f0f0f0
	border 1px solid #7f7f7f

input#submit
	cursor pointer

	&:hover
		background black
		color white

label
	font-size 12px
	color #595959

.box, .alert
	background #f0f0f0
	border 1px solid #d3d3d3
	margin box_margin
	padding box_margin*2

.alert
	min-height 45px

	h4
		font-size 18px
		margin 3px 0 3px 40px

	p
		margin 10px
		font-size 15px
		color #383625

.yellow
	background #ffff9a caution_img no-repeat 10px 10px
	border 1px solid #c3c376

	h4
		border-bottom 1px solid #c3c376

.blue
	background #bacddf message_img no-repeat 10px 10px
	border 1px solid #82b2df

.red
	background #ecb4ae error_img no-repeat 10px 10px
	border 1px solid #c9867f

.green
	background #b1e0a3 success_img no-repeat 10px 10px
	border 1px solid #7ABD5E

a.permlink
	font-size 11px
	font-style italic
	color #a6a65d
	float right

.badge
	float right
	margin box_margin

.footer
	background orange
	font-size 12px
	padding 5px
	text-align left
	margin -(box_margin)
	margin-top box_margin
	
	a
		color black
		text-decoration underline

	span
		float right

.subnav ul li
	a
		display block
		width 100%
		border-bottom 1px dotted #666
		line-height 28px
		font-size .8em
		font-weight bold
		color black

		&:hover
			color black
			background #B7CFDB

	ul
		margin-left 20px
		border-left solid 2px #E4E4E4
		padding-left 5px

		li a
			line-height 24px
			font-size .7em

#twitter_box
	h2 img
		width 20px //twitter logo

	li
		border-top dotted black 1px
		margin-top 5px
		padding-top 5px

		&.tweet_first
			border-top none
			margin-top 0
			padding-top 0
