//Resources

right_arrow_img = url(../images/menu-right-arrow.png)
arrow_img = url(../images/menu-arrow.png)
caution_img = url(../images/caution.png)
message_img = url(../images/message.png)
error_img = url(../images/error.png)
success_img = url(../images/success.png)
search_img =  url(../images/search.png)
header_img = url(../images/header.jpg)

//Dimensions

box_margin = 5px // 1/2 of space between the boxes that hold articles / other content
logo_height = 100px // height of logo at top of page above cu3er (logo_height > searchform_height + box_margin*4)
searchform_height = 30px
cu3er_height = 275px

page_width = 900px
sidebar_width = (page_width) * (1/3) - box_margin * 2
main_content_width = (page_width) * (2/3) - box_margin * 2


//Colors

orange = #ff731c

//Layout

#page-wrap
	width page_width - box_margin * 2 // because of padding on #page
	margin-left auto
	margin-right auto
	margin-bottom 40px

#page
	background white
	min-height 400px
	padding box_margin
	position relative
	font-size 0 // remove space between inline-block elements
	z-index 5

//Typography

h1, h2, h3, h5, h5, h6
	font-weight: bold

h1
	font-size: 28px
	line-height: 36px

h2
	font-size: 21px
	line-height: 28px
	color: #1f1f1f
	margin-bottom: 10px

h3
	font-size: 18px
	line-height: 24px

h4
	font-size: 16px
	line-height: 22px

p, .wp-caption, .wp-caption-dd, .databoxpage, .post-content, .tweet_list, .box
	font-family: "Calibri", Arial, Verdana, sans-serif
	font-size: 15px
	line-height: 21px

.post-content, .post-content p
	line-height: 18px

a
	color: orange
	text-decoration: none

p a:hover
	background-color: orange
	color: white

//Styles

.aligncenter
	display block
	margin 0 auto

.alignleft
	float left

.alignright
	float right

object
	outline none

hr
	margin 10px 0

blockquote
	margin 1em 3em
	padding .5em 1em
	border-left 5px solid #fb611e
	background-color #f6ebc1

.wp-caption
	border 1px solid #d2d2d2
	border-bottom 1px solid #b8b8b8
	border-right 1px solid #b8b8b8
	text-align center
	background #efefef
	padding 10px
	margin 10px
	padding-bottom 0
	-moz-border-radius 5px
	-webkit-border-radius 5px

ul a, a.logo-click
	outline none

div
	position relative
	/* This will save you having to declare each div's position as 'relative' and allows you to absolutely position elements inside them */
	//this should be removed

body
	font-family Arial, Helvetica, sans-serif
	background #1f1f1f


.logo-click
	display block
	width 275px
	height 125px
	position absolute
	z-index 200

form#searchform
	float right
	padding-top ((logo_height - searchform_height) / 2)
	padding-right box_margin*2

	input
		display inline

input#s
	border_thickness = 1px
	color #e2e2e2
	border border_thickness solid #73523b
	background darken(orange, 70%)
	font-size 13px
	font-family "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif
	width 190px
	height searchform_height - border_thickness * 2
	padding 0
	margin 0
	padding-right searchform_height

	&:hover, &:active
		background darken(orange, 50%)

input#searchsubmit
	margin 0
	margin-left -(searchform_height)
	width searchform_height
	height searchform_height
	padding 0
	z-index 9999
	background search_img no-repeat
	border none

.header
	background orange header_img top left no-repeat
	width 100%
	height logo_height + cu3er_height
	z-index 500

.header-show
	width 100%
	overflow hidden
	position absolute
	bottom 0

.header-short
	background orange header_img top left no-repeat
	width 100%
	height 285px
	z-index 500

.header-short-pic
	height 160px
	width 100%
	overflow hidden
	padding-top 125px
	background url(../images/drivers-mentors-small.jpg) bottom no-repeat

.current_page_ancestor
	background #C7C7C7

#dropmenu, #dropmenu ul
	margin 0
	padding 0
	list-style-type none
	list-style-position outside
	position relative
	line-height 1.5em
	width 100%
	background white
	font-weight bold

#dropmenu
	background rgba(31, 31, 31, 0.75)
	position absolute
	bottom 0
	height 40px
	line-height 30px
	z-index 2000

	a
		display block
		padding 4px 12px
		color white
		border-right none
		text-decoration none
		background none
		font-size 14px

		&:hover, &.hover
			background #fb611e
			margin-top -2px
			padding 6px 12px 3px 12px
			border-bottom 3px solid #c64006

		&.fatherli
			background arrow_img right no-repeat
			background-position 95% 16px
			padding-right 20px

			&:hover, &.hover
				background #fb611e arrow_img right no-repeat
				background-position 95% 18px

		&.childfatherli
			background right_arrow_img right no-repeat
			background-position 95%

			&:hover, &.hover-sub
				background #FAC090 right_arrow_img right no-repeat

	ul
		z-index 1000
		position absolute
		display none
		width 12em
		top 39px
		text-align left

		a
			color #333
			border-left 1px solid #c8c8c8

			&:hover
				margin-top 0

		ul
			top auto

	li
		float left
		position relative
		z-index 1000

		ul
			border-top 1px solid #c8c8c8
			width 200px

			a
				padding 4px 0 4px 10px
				width 190px
				height auto
				font-size 11px
				float left
				margin-left -1px
				border-bottom 1px solid #c8c8c8

				&:hover
					padding 4px 0 4px 10px
					border-bottom 1px solid #c8c8c8
					background #FAC090


			ul
				left 12em
				margin 0px

		&:hover
			ul ul, ul ul ul, ul ul ul ul
				display none

	li:hover ul,
	li li:hover ul,
	li li li:hover ul,
	li li li li:hover ul
		display block


.banner-bar
	height 42px
	background #1f1f1f
	text-align left
	margin box_margin

	a
		color white
		font-size 14px
		font-weight bold
		text-decoration none
		padding-top 14px
		display inline-block

		&:hover
			color #fb611e

		&.banner-title, &.learnmore
			padding 0 20px
			position absolute
			line-height 42px
			height 100%
			vertical-align middle

		&.banner-title
			left 0

		&.learnmore
			background orange
			color white
			display inline-block
			right 0
			top 0

			&:hover
				background lighten(orange, 15%)


.about-intro
	width 860px

.about-side
	font-size 85%
	line-height 18px

.clear
	clear both

.break
	height 1px

a.button
	color white
	background #1f1f1f
	font-weight bold
	font-size 16px
	padding 5px 10px 4px 10px
	text-decoration none
	margin 10px 0
	display inline-block

	&:hover
		background #fe7420

a.blue
	background #0066b3

.sidebar, .main-content
	display inline-block

.sidebar
	width sidebar_width

	img
		max-width sidebar_width - box_margin*6 - 2px // box_border = 2px total

.main-content
	vertical-align top
	width main_content_width

.main-content2 //where is page-no-bar used?
	width 100%
	float left
	margin-top -35px

#breadcrumbs
	color #dadada
	margin-left 10px
	font-size 14px
	line-height 1.2em
	position absolute
	left 0

	a
		margin-left 1px
		font-size 18px

		&:hover
			background none

.databox
	text-align left
	margin-top 10px

.databoxpage
	text-align left
	background #f0f0f0
	border 1px solid #d3d3d3
	margin-top 10px
	overflow hidden

.archivebox
	border none
	background inherit

.databoxpagepost
	text-align left
	margin-top 10px
	background #f0f0f0
	border 1px solid #d3d3d3
	padding-bottom 10px
	margin-bottom 10px
	overflow hidden

div.text
	margin 10px

	p
		margin-bottom 10px

.databoxpage, .databoxpagepost
	.comment p
		margin 0

.titleblock
	background #1f1f1f
	height 40px
	position relative
	margin box_margin
	margin-bottom -(box_margin)

	h3, a
		font-size 18px
		color white
		padding 10px
		text-decoration none

	a
		padding 0

		&:hover
			text-decoration none
			color #fb611e

.postpagetitle
	display inline
	position absolute
	height 24px

.bylinepage
	float right
	text-decoration none
	vertical-align text-bottom
	color white
	margin-top 12px
	font-size 12px
	margin-right 5px


.databox ul li
	background #f0f0f0
	border 1px solid #d3d3d3
	border-top none
	height 40px
	text-indent 10px
	position relative

	&:hover
		background #e9e9e9

	p
		display inline
		position relative
		top 10px

	a
		position absolute
		top 12px
		right 10px
		color #e36214
		text-decoration none
		font-size .8em

		&:hover
			color #080808
			font-weight bold

.post-title
	background #f0f0f0
	vertical-align middle
	position relative

.archivetitle
	text-align center

.archivepage-spacer
	height 20px

.byline
	position absolute
	right 6px
	text-align right

.post-content
	padding box_margin*2

.arclist
	display block

.aligncenter
	margin-left auto
	margin-right auto

.commentbar
	background #1f1f1f
	height 40px
	text-align left
	margin-bottom -10px

	img
		margin 4px
		display inline
		float left

	p
		display inline
		position relative
		top 10px
		color #a5a5a5
		font-size 14px

		a
			color #a5a5a5
			font-weight bold
			text-decoration none

			&:hover
				text-decoration underline
				background none

		i
			font-size 11px

	p cite, h3, p cite a
		font-weight bold
		color white
		font-size 18px
		text-transform capitalize

	h3
		padding 10px 5px

input, textarea
	background #e6e6e6
	border 1px solid #a1a1a1/*<- Good Stake Sauce times 3 */
	font-size 14px
	color #1f1f1f
	padding 5px
	margin 5px
	font-family "Calibri", Arial

h3#comments
	line-height 16px
	text-align left
	color #1f1f1f
	margin 10px 0

input:hover, textarea:hover
	background #f0f0f0
	border 1px solid #7f7f7f

label
	font-size 12px
	color #595959

input#submit
	cursor pointer

	&:hover
		background #1f1f1f
		color white

.box, .alert
	background #f0f0f0
	border 1px solid #d3d3d3
	margin box_margin
	padding box_margin*2

.alert
	min-height 45px

	h4
		font-size 18px
		margin 3px 0 3px 40px

	p
		margin 10px
		font-size 15px
		color #383625

.yellow
	background #ffff9a caution_img no-repeat 10px 10px
	border 1px solid #c3c376

	h4
		border-bottom 1px solid #c3c376

.blue
	background #bacddf message_img no-repeat 10px 10px
	border 1px solid #82b2df

.red
	background #ecb4ae error_img no-repeat 10px 10px
	border 1px solid #c9867f

.green
	background #b1e0a3 success_img no-repeat 10px 10px
	border 1px solid #7ABD5E

a.permlink
	font-size 11px
	font-style italic
	color #a6a65d
	float right

.badge
	float right
	margin box_margin

.footer
	background orange
	font-size 12px
	padding 5px
	text-align left
	margin -(box_margin)
	margin-top box_margin
	
	a
		color black
		text-decoration underline

	span
		float right

div.text
	ul, li
		list-style square
		margin-left 10px

	li
		list-style inherit

.subnav ul li
	a
		display block
		width 100%
		border-bottom 1px dotted #666
		line-height 28px
		font-size .8em
		font-weight bold
		color #1f1f1f

		&:hover
			color #1f1f1f
			background #B7CFDB

	ul
		margin-left 20px
		border-left solid 2px #E4E4E4
		padding-left 5px

		li a
			line-height 24px
			font-size .7em

#twitter_box
	h2 img
		width 20px //twitter logo

	li
		border-top dotted black 1px
		margin-top 5px
		padding-top 5px

		&.tweet_first
			border-top none
			margin-top 0
			padding-top 0

