@import 'nib/vendor'
vendor-prefixes = webkit moz o ms official

@import url(http://fonts.googleapis.com/css?family=Orbitron:700);

//Resources

right_arrow_img = url(../images/menu-right-arrow.png)
arrow_img = url(../images/menu-arrow.png)
caution_img = url(../images/caution.png)
message_img = url(../images/message.png)
error_img = url(../images/error.png)
success_img = url(../images/success.png)
search_img =  url(../images/search.png)
core_logo_img = url(../images/CORE-logo.svg)

//Colors

orange = #ff731c
black = #1f1f1f
darkened_orange = #552100
brown = #73523b

//Dimensions

box_margin = 5px // 1/2 of space between the boxes that hold articles / other content
img_margin = 10px // space between text and floated images
logo_height = 100px // height of logo at top of page above slice_box (logo_height > searchform_height + box_margin*4)
searchform_height = 30px
slice_box_height = 275px
header_pic_height = 150px
max_width = 1000px
min_width = 250px // sorry, but any smaller is crazy