@import url("http://fonts.googleapis.com/css?family=Orbitron:700");
body {
  background-image: url("../images/twinkle_twinkle.png");
  font-family: 'Iceland', cursive;
}
#containing_div {
  position: relative;
  width: 85%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
}
.light_grad,
#title_bar,
#nav-wrapper + label:after,
.menu li li {
  background: #d1d1d1;
/* Old browsers */
  background: -moz-linear-gradient(top, #d1d1d1 0%, #b3b3b3 100%);
/* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d1d1d1), color-stop(100%, #b3b3b3));
/* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #d1d1d1 0%, #b3b3b3 100%);
/* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #d1d1d1 0%, #b3b3b3 100%);
/* Opera 11.10+ */
  background: -ms-linear-gradient(top, #d1d1d1 0%, #b3b3b3 100%);
/* IE10+ */
  background: linear-gradient(to bottom, #d1d1d1 0%, #b3b3b3 100%);
/* W3C */
}
.dark_grad,
h4 {
  background: #191919;
/* Old browsers */
  background: -moz-linear-gradient(top, #191919 0%, #0f0f0f 100%);
/* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #191919), color-stop(100%, #0f0f0f));
/* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #191919 0%, #0f0f0f 100%);
/* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #191919 0%, #0f0f0f 100%);
/* Opera 11.10+ */
  background: -ms-linear-gradient(top, #191919 0%, #0f0f0f 100%);
/* IE10+ */
  background: linear-gradient(to bottom, #191919 0%, #0f0f0f 100%);
/* W3C */
}
/*end of whole page stuff*/
em {
  color: #ff5400;
  font-style: normal;
}
#logo {
  display: inline-block;
}
#header-container {
  display: inline-block;
  -webkit-box-sizing(): border-box;
  -moz-box-sizing(): border-box;
  -o-box-sizing(): border-box;
  -ms-box-sizing(): border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: -145px;
  padding: 20px 0;
  padding-left: 140px;
  width: 100%;
  vertical-align: top;
}
#header {
  display: inline-block;
  margin: 20px 0;
  color: #d2d2d2;
  font-family: 'Orbitron', sans-serif;
  font-size: 30px;
}
@media screen and (max-width: 500px) {
  #header {
    font-size: 20px;
  }
}
#title_bar {
  padding: 0.3em;
  border-right: 5px solid #ff5400;
  border-left: 5px solid #ff5400;
  font-size: 16px;
  color: #121212;
}
@media screen and (max-width: 400px) {
  #title_bar {
    display: none;
  }
}
#nav-wrapper + label:after {
  color: #1f1f1f;
}
.navbar_buttons {
  display: inline-block;
  margin-right: 2.25em;
  max-height: 1em;
  color: #d2d2d2;
  font-size: 23;
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.navbar_buttons span {
  margin-left: 1em;
  font-size: 11px;
}
.menu {
  background: none;
  font-size: 0;
  border: none;
}
.menu li {
  border: none;
  margin: 0;
}
.menu li li {
  height: 25px;
  line-height: 25px;
}
.menu li li a {
  color: #1f1f1f;
}
.menu li li:hover {
  background: #ff731c;
}
.menu li a,
.menu li label {
  font-weight: 100;
  font-size: 16px;
}
.menu li label {
  font-size: 10px;
}
.menu > li {
  margin: 0 15px;
}
.menu > li > a {
  font-size: 22px;
}
.menu > li:hover {
  background: none;
}
.menu > li:hover > a {
  color: #ff731c;
}
#menu-safety {
  border-top: 3px solid #3d3d3d;
  border-bottom: 3px solid #3d3d3d;
  padding: 5px 0;
}
#content_container {
  display: block;
  padding: 1em;
  background-color: #3d3d3d;
  -webkit-box-shadow: inset 0 0 10px #191919;
  box-shadow: inset 0 0 10px #191919;
  margin: 3em 0;
  margin-top: 20px;
}
h4 {
  margin-bottom: 0.5em;
  padding: 0.1em;
  padding-left: 0.25em;
  border-left: 0.3em solid #ff5400;
  font-size: 26px;
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
h4 a {
  color: #d2d2d2;
}
h4 .byline {
  color: #d2d2d2;
  display: block;
  margin: 2px 0;
  font-size: 14px;
}
.box {
  margin-top: 0.4em;
  margin-bottom: 2em;
  padding: 0.4em;
  background-color: #b3b3b3;
  border-style: 0.01em solid #3d3d3d;
}
.box ul,
.box p,
.box img {
  margin: 0.6em;
  padding: 0.4em;
  background-color: #d2d2d2;
  border-bottom: 0.2em solid #3d3d3d;
  font-size: 20px;
  color: #0f0f0f;
}
.box ul li {
  margin-left: 20px;
  list-style-type: disc;
}
#footer {
  position: relative;
  height: 1.25em;
  padding: 0.3em 0.3em 0.3em 0.4em;
  border-right: 0.5em solid #ff5400;
  border-left: 0.5em solid #ff5400;
  border-top: 0.01em solid #8c8c8c;
  border-bottom: 0.01em solid #8c8c8c;
  font-size: 16;
  color: #121212;
}
#footer span {
  font-size: 16px;
  color: #121212;
}
#cont1 {
  position: absolute;
  left: 1em;
}
#cont2 {
  position: absolute;
  right: 1em;
}
