@import 'library.styl'

body
	background-image:url('../images/twinkle_twinkle.png')
	font-family:'Iceland', cursive

#containing_div
	position:relative
	width:85%
	margin-right:auto
	margin-left:auto
	margin-bottom 20px

.light_grad
	background: #d1d1d1 /* Old browsers */
	background: -moz-linear-gradient(top, #d1d1d1 0%, #b3b3b3 100%) /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d1d1d1), color-stop(100%,#b3b3b3)) /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #d1d1d1 0%,#b3b3b3 100%) /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #d1d1d1 0%,#b3b3b3 100%) /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #d1d1d1 0%,#b3b3b3 100%) /* IE10+ */
	background: linear-gradient(to bottom, #d1d1d1 0%,#b3b3b3 100%) /* W3C */

.dark_grad
	background: #191919 /* Old browsers */
	background: -moz-linear-gradient(top, #191919 0%, #0f0f0f 100%) /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#191919), color-stop(100%,#0f0f0f)) /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #191919 0%,#0f0f0f 100%) /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #191919 0%,#0f0f0f 100%) /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #191919 0%,#0f0f0f 100%) /* IE10+ */
	background: linear-gradient(to bottom, #191919 0%,#0f0f0f 100%) /* W3C */

/*end of whole page stuff*/

em
	color:#ff5400
	font-style:normal

logo_width = 140px

#logo
	display: inline-block

#header-container
	display inline-block
	vendor(box-sizing, border-box)
	margin-left -(logo_width + 5px)
	padding 20px 0
	padding-left logo_width
	width 100%
	vertical-align top

#header
	display inline-block
	margin 20px 0
	color:#D2D2D2
	font-family: 'Orbitron', sans-serif
	font-size: 30px

	@media screen and (max-width: 500px)
		font-size: 20px

#title_bar
	@extend .light_grad
	padding: 0.3em
	border-right: 5px solid #FF5400
	border-left: 5px solid #FF5400
	font-size:16px
	color:#121212

	@media screen and (max-width: 400px)
		display none

#nav-wrapper + label:after
	@extend .light_grad
	color black

.navbar_buttons
	display:inline-block
	margin-right:2.25em
	max-height:1em
	color:#D2D2D2
	font-size:23
	opacity:1

	span
		margin-left:1em
		font-size:11px

.menu
	padding 0
	font-size 0
	border none
	background none
	border-top: 3px solid #3D3D3D
	border-bottom: 3px solid #3D3D3D

	li
		border none

		a, label
			font-weight 100
			font-size:16px

		label
			font-size:10px

	> li
		margin 0 15px
		width auto

		> a
			font-size:22px

		&:hover
			background none

			> a
				color orange

#content_container
	display:block
	padding:1em
	background-color:#3D3D3D
	box-shadow: inset 0 0 10px #191919
	margin: 3em 0
	margin-top 20px // for nav-bar

h4
	@extend .dark_grad
	margin-bottom:0.25em
	padding:.1em
	padding-left:.25em
	border-left:.3em solid #FF5400
	font-size: 26px
	opacity:1

	a
		color:#D2D2D2

	//author
	.byline
		color:#D2D2D2
		display: block
		margin 2px 0
		font-size: 14px

.box
	padding:.4em
	background-color:#B3B3B3
	border-style:.01em solid #3D3D3D

	ul, p, img
		margin:.6em
		padding:.4em
		background-color:#D2D2D2
		border-bottom: 0.2em solid #3D3D3D
		font-size: 20px
		color:#0f0f0f

	ul li
		margin-left 20px
		list-style-type: disc


#footer
	position:relative
	height:1.25em
	padding:.3em .3em .3em .4em
	border-right:.5em solid #FF5400
	border-left:.5em solid #FF5400
	border-top:.01em solid #8C8C8C
	border-bottom:.01em solid #8C8C8C
	font-size:16
	color:#121212

	span
		font-size:16px
		color:#121212

#cont1
	position:absolute
	left:1em

#cont2
	position:absolute
	right:1em

