//TYPOGRAPHY

h1, h2, h3, h5, h5, h6
	font-weight: bold

h1
	font-size: 28px
	line-height: 36px

h2
	font-size: 22px
	line-height: 28px

h3
	font-size: 18px
	line-height: 24px

h4
	font-size: 16px
	line-height: 22px

h2
	font-size: 1.4em
	color: #1f1f1f
	margin-bottom: 10px

p, .wp-caption, .wp-caption-dd, .databoxpage, .post-content, .tweet_list
	font-family: "Calibri", Arial, Verdana, sans-serif
	font-size: 15px
	line-height: 21px

.post-content, .post-content p
	line-height: 18px

a
	color: #ff731c
	text-decoration: none

p a:hover
	background-color: #ff731c
	color: white

.first
	color: red
	font-style: italic

.first:hover
	text-decoration: underline
	background: none

